/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 18, /home/ubuntu/portfolio/app/assets/stylesheets/application.css.scss */
* {
  padding: 0;
  margin: 0;
}


/* line 21, /home/ubuntu/portfolio/app/assets/stylesheets/application.css.scss */
.container {
  width: 100%;
}

/* line 22, /home/ubuntu/portfolio/app/assets/stylesheets/application.css.scss */
.clear {
  clear: both;
}

/* line 2, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
header {
  margin: 0 auto;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(102, 95, 96, 0.7);
  z-index: 9;
}
/* line 9, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
header .background-image {
  height: auto;
  margin-bottom: 3%;
  z-index: 1;
  -moz-box-shadow: 0 6px 4px 2px gray;
  -webkit-box-shadow: 0 6px 4px 2px gray;
  box-shadow: 0 6px 4px 2px gray;
}
/* line 17, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
header .hamburger {
  cursor: pointer;
  display: none;
  color: yellow;
  float: right;
  width: 57px;
  font-size: 3em;
}
@media only screen and (max-device-width: 1020px), screen and (max-width: 1020px) {
  /* line 2, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header {
    /* Styles */
  }
  /* line 33, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header .hamburger {
    display: none;
  }
  /* line 36, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header #mobile-menu {
    display: none;
  }
}
@media only screen and (max-device-width: 720px), screen and (max-width: 720px) {
  /* line 2, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header {
    /* Styles */
  }
  /* line 41, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header .hamburger {
    display: block;
  }
  /* line 44, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header .links {
    display: none;
  }
  /* line 47, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header #mobile-menu {
    width: 100%;
    margin: 0;
    float: none;
  }
  /* line 51, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
  header #mobile-menu li {
    height: 39px;
    margin-left: 0px;
    margin-top: 20px;
    border-bottom: 1px solid yellow;
    width: 100%;
    text-align: center;
    color: yellow;
  }
}
/* line 62, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
header .me {
  width: 80px;
  height: auto;
  border-radius: 40px;
}
/* line 67, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
header .links {
  margin-top: 28px;
  float: right;
  margin-right: 24px;
}
/* line 71, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
header .links li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 77, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
header a {
  font-size: 1em;
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, geneva, sans-serif;
  font-weight: bold;
}

/* line 87, /home/ubuntu/portfolio/app/assets/stylesheets/styles/header.scss */
.background-image {
  height: 50%;
  width: 100%;
  margin-bottom: 3%;
  z-index: 1;
  -moz-box-shadow: 0 6px 4px 2px gray;
  -webkit-box-shadow: 0 6px 4px 2px gray;
  box-shadow: 0 6px 4px 2px gray;
}

/* line 3, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
main {
  width: 100%;
  margin: 0 auto;
}
/* line 6, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
main img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
  z-index: 1;
  -moz-box-shadow: 0 6px 4px 2px gray;
  -webkit-box-shadow: 0 6px 4px 2px gray;
  box-shadow: 0 6px 4px 2px gray;
}

/* line 17, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
h2:before {
  display: block;
  content: " ";
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
}

/* line 24, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.projects, .blog {
  margin: 5% auto;
  width: 97%;
}
/* line 28, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.projects a, .blog a {
  color: #000000;
  text-decoration: none;
}
/* line 33, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.projects article, .blog article {
  width: 30%;
  float: left;
  margin-bottom: 2%;
  margin-left: 2%;
}
@media only screen and (max-device-width: 720px), screen and (max-width: 720px) {
  /* line 33, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
  .projects article, .blog article {
    /* Styles */
    border-bottom: 1px solid #cccccc;
    padding: 15px 0;
    width: 100%;
    float: none;
    margin: 0;
  }
}

/* line 47, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.type-container {
  width: 25%;
  float: left;
}

/* line 51, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.type-container img {
  width: 89%;
}

/* line 54, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
article .description {
  width: 70%;
  float: right;
}
/* line 57, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
article .description h1 {
  font-family: Verdana, geneva, sans-serif;
  margin-bottom: 5px;
  font-size: 1em;
  width: 100%;
}
/* line 63, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
article .description .date {
  font-family: arial, helvetica, sans-serif;
  margin-bottom: 5px;
  font-size: 0.8em;
  width: 100%;
}
/* line 69, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
article .description .text {
  width: 100%;
}

/* line 73, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.contact_me {
  width: 100%;
  margin-top: 9%;
  background-color: #F5F4F4;
}
/* line 77, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.contact_me .form_container {
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-device-width: 720px), screen and (max-width: 720px) {
  /* line 77, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
  .contact_me .form_container {
    /* Styles */
    width: 90%;
  }
}
/* line 84, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.contact_me .form_subject {
  width: 45%;
  float: left;
}
/* line 88, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.contact_me .form_email {
  width: 45%;
  float: right;
}
/* line 92, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.contact_me #contact_text {
  width: 98.5%;
  margin: 0 auto 2%;
  height: 200px;
}
/* line 107, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.contact_me input[type="submit"] {
  width: 47%;
  float: right;
  font-size: 12px;
}
/* line 112, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
.contact_me button {
  width: 47%;
  float: left;
}
@media only screen and (max-device-width: 720px), screen and (max-width: 720px) {
  /* line 73, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
  .contact_me {
    /* Styles */
    margin-top: 22%;
  }
  /* line 118, /home/ubuntu/portfolio/app/assets/stylesheets/styles/main_content.scss */
  .contact_me .form_subject, .contact_me #contact_text, .contact_me .form_email, .contact_me input[type="submit"], .contact_me button {
    width: 100%;
    float: none;
    margin: 2% auto;
  }
}

/* line 2, /home/ubuntu/portfolio/app/assets/stylesheets/styles/form.scss */
input[type="text"], input[type="email"], textarea {
  border: none;
  color: #525252;
  height: 25px;
  line-height: 15px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 5px 0px 5px 5px;
  width: 70%;
  background: #DFDFDF;
}

/* line 17, /home/ubuntu/portfolio/app/assets/stylesheets/styles/form.scss */
textarea {
  height: 400px;
  padding: 5px 0px 0px 5px;
  width: 70%;
}

/* line 23, /home/ubuntu/portfolio/app/assets/stylesheets/styles/form.scss */
input[type="submit"], button {
  background: #FFCC02;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #585858;
  text-shadow: 1px 1px 1px #FFE477;
  font-weight: bold;
  box-shadow: 1px 1px 1px #3D3D3D;
  -webkit-box-shadow: 1px 1px 1px #3D3D3D;
  -moz-box-shadow: 1px 1px 1px #3D3D3D;
  cursor: pointer;
}

/* line 36, /home/ubuntu/portfolio/app/assets/stylesheets/styles/form.scss */
.button:hover {
  color: #333;
  background-color: #EBEBEB;
}

/* line 2, /home/ubuntu/portfolio/app/assets/stylesheets/styles/footer.scss */
footer {
  width: 100%;
  background-color: rgba(102, 95, 96, 0.7);
  margin-top: 5%;
  padding: 4% 0;
}
/* line 7, /home/ubuntu/portfolio/app/assets/stylesheets/styles/footer.scss */
footer .social-links {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
/* line 10, /home/ubuntu/portfolio/app/assets/stylesheets/styles/footer.scss */
footer .social-links a {
  display: inline-block;
  width: 19%;
  margin-right: 4%;
}
/* line 15, /home/ubuntu/portfolio/app/assets/stylesheets/styles/footer.scss */
footer .social-links a:nth-child(3) {
  margin-right: none;
}
/* line 18, /home/ubuntu/portfolio/app/assets/stylesheets/styles/footer.scss */
footer .social-links img {
  width: 80%;
  height: auto;
  border-radius: 18px;
}
@media only screen and (max-device-width: 720px), screen and (max-width: 720px) {
  /* line 7, /home/ubuntu/portfolio/app/assets/stylesheets/styles/footer.scss */
  footer .social-links {
    /* Styles */
    width: 75%;
    margin-left: 17%;
  }
}

/* line 2, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.blog_content {
  width: 97%;
  margin: 5% auto;
}
/* line 6, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.blog_content h2:before {
  display: block;
  content: " ";
  margin-top: -8px;
  height: 80px;
  visibility: hidden;
}
/* line 14, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.blog_content article {
  width: 100%;
}

/* line 19, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
/* line 23, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.mark-down {
  width: 97%;
  background-color: #303030;
  margin-top: 2%;
  margin-bottom: 2px;
  padding: 2%;
  overflow-x: scroll;
}
/* line 30, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.mark-down .ruby-keyword {
  color: #00ffff;
}
/* line 33, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.mark-down .ruby-constant {
  color: #7fffd4;
}
/* line 36, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.mark-down .ruby-identifier {
  color: #ffdead;
}
/* line 39, /home/ubuntu/portfolio/app/assets/stylesheets/styles/blog.scss */
.mark-down .ruby-constant {
  color: #7fffd4;
}

/* line 34, /home/ubuntu/portfolio/app/assets/stylesheets/application.css.scss */
h2, h1 {
  text-transform: uppercase;
  font-family: Verdana, geneva, sans-serif;
  text-align: center;
  margin-bottom: 4%;
  margin-top: 4%;
}

/* posts and content container */
.content-block {
  width: 95%;
  margin: 0 auto;
}

.content-block h1 {
  text-transform: uppercase;
  font-family: Verdana, geneva, sans-serif;
  text-align: left;
  margin-bottom: 4%;
  margin-top: 4%;
}

.content-block p {
  margin: 4% 0;
  overflow: auto;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  font-size: 1.1em;
  line-height: 1.5em;
}

.content-block code {
  width: 95%;
  background: #2D3748;
  color: #f5fbff;
  display: block;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  border-radius: 3px;
  border: none;
  margin-bottom: 24px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: auto;
}

.codebar {
  width: 100%;
  background-color: black;
}

.stoplight li {
  border-radius: 1em;
  display: inline-block;
  margin: 0.3em 0px 0px 0.3em;
  width: 1em;
  height: 1em;
}

code .code_content {
  padding: 10px 10px;
}

code pre {
  font-family: monospace;
  display: inline-flex;
}

.red {
  background-color: #FC5B57;
}

.yellow {
  background-color: #E5BF3C;
}

.green {
  background-color: #52C038;
}

.content-block .content {
  width: 95%;
}

.tile_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile_container a {
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  color: #000000;
  text-decoration: none;
  width: 30%;
  margin: 1%;
}

.projects-tile {
  width: 100%;
  background-color: rgba(102, 95, 96, 0.05);
}

.projects-tile h1 {
  padding-top: 4%;
}

.projects-tile img {
  width: 100%;
  height: auto;
}

.projects-tile p {
  padding: 2%;
}

.content-block code .special {
  color: #F6B9FF;
}
