* {
  margin: 0;
  padding: 0;
}

body {
  color: #c0392b;
  width: 100%;
  margin: 0 1%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

nav, footer {
  width: 90%;
  padding: 1%;
  display: flex;
  justify-content: center;
}

footer {
  width: 90%;
}

ul {
  margin: 0 auto;
}

ul li {
  list-style-type: none;
  display: inline;
}
