{{ template "header" }}
<div class="content-block">
  <h1>Argocd App of Apps</h1>
  <p class="content">
    Argocd app of apps. Great way to spin a lot of stuff up and once.
  </p>
</div>
{{ template "footer" }}
