{{ define "codeblock-start" }}
<code>
  <div class="codebar">
    <ul class="stoplight">
      <li class="red"></li>
      <li class="yellow"></li>
      <li class="green"></li>
    </ul>
  </div>
  <pre>
    <div class="code_content">
{{ end }}
{{ define "codeblock-end" }}
    </div>
  </pre>
</code>
{{ end }}
