{{ template "header" }}
<div class="content-block">
  <h1>Simple API in Golang</h1>
    <p class="content">
      Building a simple API using <a href="https://github.com/gorilla/mux">gorilla/mux</a>.
    </p>
</div>
{{ template "footer" }}
