{{define "yield"}}
<div class="content-block">
  <h1>About Me</h1>
  <img src="/images/fillMurry.jpg" alt="fillmurry">
  <p>
I began my career in tech almost a decade ago. Before that, I dabbled a little with frontend HTML by reskinning things like my mySpace page (yep, it was a real long time ago). I didn't get real serious with tech until after college. After a string of some post college jobs, a friend challenged me to get more serious with writing code and developing my coding skills. My first internship, allowed me to really explore the tech space, and that's where I got hooked on DevOps/infrastructure. While I still love to code, I find most of my time now is spent solving new and interesting challenges in the space between development and deployment.
  </p>
</div>
{{end}}
