{{define "yield"}}
<h1>Hello and welcome</h1>
<p>
Hi, Im Sean. I am an infrastructure engineer working primarily in the fintech space.
This site is a little about me and a lot about the lessons I have learned along the way.
</p>
{{end}}
