{{ define "k8s_svc" }}
<div class="content-block">
<p class="contnet">
In Kubernetes ServiceAccounts provide the glue between containers and kubernetes/cloud provider resources.
</p>
</div>
{{ end }}
